.App {
  font-family: "Raleway", sans-serif;
}

.App-header {
  color: white;
  font-size: 4vw;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 30px;
}

footer {
  color: white;
  display: block;
  margin: 0 auto 50px;
  max-width: 55%;
}
