.background-container {
  background-color: #44615e54;
  max-width: 55%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 20px;
  color: white;
}

.search-field {
  display: block;
  font-size: 22px;
  color: white;
  margin: 0 auto;
  width: 100%;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.144);
  background-color: rgba(255, 255, 255, 0);
}

.suggested-words {
  color: white;
  margin-top: 5px;
  font-size: 1.5vw;
}

.main-word {
  font-weight: bolder;
  font-size: 36px;
}

.icon {
  margin-right: 7px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
  text-decoration: none;
}

.phonetic {
  font-family: sans-serif;
  font-size: 20px;
}

.partOfSpeech {
  font-weight: bolder;
  font-size: 24px;
}

.definitions {
  padding-bottom: 8px;
}

.example {
  font-style: italic;
  font-size: 14px;
  margin: 15px 5px;
}

.synonyms {
  padding: 5px 15px;
  font-size: 14px;
}

@media (max-width: 576px) {
  .SearchEngine {
    max-width: 80%;
  }
}
